 .u-section-1 {
  background-image: url("images/pexels-photo-4099837.jpeg");
  background-position: 50% 50.59%;
}

.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: UniSansHeavyItalic;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-family: UniSansHeavyItalic;
  margin: 0 35px 0 168px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 62px;
  min-height: 16px;
  width: 206px;
  min-width: 68px;
  margin: 8px 25px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}@font-face {
  font-family: 'UniSansHeavyItalic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UniSansHeavyItalic.otf);
}